body {
  background: #9CCEC9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

.image-container {
  width: 1200px;
  height: 700px;

  svg {
    polyline {
      fill: white;
      cursor: pointer;

      &.hover {
        fill: yellow;
      }
    }
  }
}

.convert-button {
  margin-top: 20px;

  button {
    font-size: 1.5em;
  }
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
  }

  span {
    margin-left: 10px;
  }
}
