@import "~@claviska/jquery-dropdown/jquery.dropdown.min.css";

body {
  background: #9CCEC9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

.image-container {

  svg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    polyline {
      cursor: pointer;

      &.hover {
        fill: yellow;
      }
    }
  }
}

.jq-dropdown {
  .jq-dropdown-menu {
    .dropdown-header {
      font-weight: bold;
      cursor: initial !important;

      &:hover {
        background: inherit;
      }
    }
  }
}

.app-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;

  > * {
    margin: 10px;
    width: 32px;
    height: 32px;
  }

  img {
    width: 32px;
    height: 32px;
  }

  .material-icons {
    font-size: 32px;
    cursor: pointer;
  }
}
