@import "~@claviska/jquery-dropdown/jquery.dropdown.min.css";

body {
  background: #9CCEC9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Helvetica, Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", "標楷體", DFKai-SB, sans-serif;
}

.image-container {

  svg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    polyline {
      cursor: pointer;

      &.hover {
        fill: yellow;
      }
    }
  }
}

.jq-dropdown {
  .jq-dropdown-menu {
    .dropdown-header {
      font-weight: bold;
      cursor: initial !important;

      &:hover {
        background: inherit;
      }
    }
  }
}

.option-panel {
  position: fixed;
  left: 10px;
  bottom: 50px;
}

.app-panel {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;

  > * {
    margin: 10px;
    width: 32px;
    height: 32px;
  }

  img {
    width: 32px;
    height: 32px;
  }

  .material-icons {
    font-size: 32px;
    cursor: pointer;
  }

  input[type=file] {
    display: none;
  }
}

#modal {
  display: none;

  &.is-open {
    display: block;
    position: absolute;
    margin: 5vh auto;
    width: 500px;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0px;
    opacity: 0.95;

    div[role=dialog] {
      padding: 0 20px 20px 20px;
      text-align: center;

      #modal-content {
        display: flex;
        flex-direction: column;

        span {
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;

          label {
            margin: 0 20px;
          }
        }

        input[type=text] {
          width: 150px;
        }

        input[type=number] {
          width: 60px;
          text-align: right;
        }

        .buttons {
          margin: 20px;

          button {
            font-size: 20px;
          }
        }

        #input-url {
          width: 100%;
        }
      }

      h2 {
        font-size: 36px;
      }
    }
  }
}
